# ===========================
# Model files
# ===========================
model/*
!model/original/.gitkeep
!model/finetune_checkpoint/.gitkeep


# ===========================
# config files
# ===========================
config/llama3-8B/inference_config.yaml

# ===========================
# Data and checkpoints
# ===========================
data/*

# ===========================
# Logs, experiments, and runs
# ===========================
wandb/

# ===========================
# Temporary and cache files
# ===========================
__pycache__/
*.e*
*.o*

# ===========================
# IDE and environment files
# ===========================
.vscode/
.gradio/

# ===========================
# Scripts not tracked
# ===========================
chat_cli.py
preprocess.py
train_clone_llama.pbs